field{
	background: green;
	width: 600px;
	height: 300px;
	display: block;
}

field player, field referee{
	width: 25px;
	height: 25px;
	border: 1px solid yellow;
	border-radius: 50%;
	text-align: center;
	color: white;
	position: fixed;
	margin-top: -12px; 
}

field referee{
	background: yellow;
	top: 150px;
	left: 300px;
	color: black;
}

field player {
	width: 20px;
	border: none;
	border-radius: 0;
	background-color: none;
}

field player:hover{
	width: 30px;
	height: 30px
}

field team#red-team player{
	background: red;
}

field team#blue-team player{
	background: url(../img/blue-player.png);
	background-size: cover;
}


#player1-red{
	top: 150px;
	left: 10px;
}


#player2-red{
	top: 50px;
	left: 120px;
}

#player3-red{
	top: 150px;
	left: 120px;
}

#player4-red{
	top: 250px;
	left: 120px;
}

#player5-red{
	top: 120px;
	left: 250px;
}


#player1-blue{
	top: 150px;
	left: 570px;
}


#player2-blue{
	top: 50px;
	left: 480px;
}

#player3-blue{
	top: 150px;
	left: 480px;
}

#player4-blue{
	top: 250px;
	left: 480px;
}

#player5-blue{
	top: 120px;
	left: 400px;
}


