nav ul {
	background: lightblue;
	margin: 0;
	padding: 0;
}

nav ul li{
	border: 1px solid red;
	display: inline-block;
	width: 17%;
	text-align: center;
	color: red;
}

nav ul li.active{
	background: green;
	color: white;
}

nav ul li:hover {
	background-color: cyan;
}

nav ul li a{
	color: red;
	text-decoration: none;
	border: 1px solid red;
	display: block;
	padding: 5px;
}

nav ul li a:active {
	background-color: green;
}