.container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: 60px;
	grid-template-rows: 40px 60px 40px; 
}

.container div {
	background: cyan;
	border: 1px solid red;
}

.container div:nth-child(3) {
	grid-column-start: 3;
	grid-row-start: 1;
	grid-column-end: 5;
}

.container div:nth-child(7) {
	grid-column: 1/-1;
}