@media screen and (max-width: 600px) {
	body {
		display: grid;
		grid-template-areas: 
		"top-nav"
		"header"
		"aside-left"
		"main"
		"footer"
		;
	}

	nav ul {
		grid-template-columns: 1fr;
	}

	aside.left, aside.right{
		width: 100%	;
	}

	aside.right{
		display: none;
	}


}